
<body style="background-image: url('../../Content/promanage.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <div style=" margin-top: 50px">
        <b style="font-size: 20px">@Html.ActionLink("Go To Login Page", "Login", "Account")</b>
        

       
            

         
    </div>
    
</body>
